<h1>Products#index</h1>
<% @products.each do |product|%>
<b>Name: </b> <%= product[:name] %>
  <br>
  <%= product[:description] %>
  <br>
  <%= product.formatted_price %>
  <br> <%= link_to "View", product_path(product[:id])%><br>
  <br>
<% end %>

